*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.cardHighlight{
  min-height: 100%;
}*/

/* to style input use */
.counter-input .form-control {
    padding: 4;
}
/* to style buttons use */
.counter-input .input-group-addon {
     /* your style */
    
     padding: 4;
     border-style: solid;
     background: lightgray ;
}